.footer {
  background-color: #a82743;
  color: #fff;
  padding: 2.5rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  gap: 50px;
}

.footer-section {
  flex: 1;
  color: #fff;
}

.footer-section h2 {
  margin-bottom: 1rem;
}

.footer-section p {
  color: #99a2ad;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; 
}

.footer-section a:hover {
  color: #ffd700; 
}

.footer-bottom {
  text-align: center;
  padding-top: 1.25rem;
  font-size: 0.875rem;
  color: #99a2ad;
}

@media (max-width: 47.9375rem) {
  .footer-content {
    flex-direction: column;
    text-align: center; 
  }

  .footer-section {
    margin-bottom: 1.25rem;
  }
}
